
*.o

*.so

source/visualBullet

*.friends

source/japari_park

playground/thotgamma/argumentsTest/main

*.depend

*.bullet

*.blend1

source/japari_park.dSYM/Contents/Info.plist

source/japari_park.dSYM/Contents/Resources/DWARF/japari_park


friends/choroDog/chorodog.blend1

*.blend1
